<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="Shelly">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👤</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>MIU Student Registration</title>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <div class="container">
            <h1 class="mt-4">Student Registration</h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1543269664-7eef42226a21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Student Registration</h5>
                            <p class="card-text">Option for register new students.</p>
                            <a tabindex="-1" role="button" aria-disabled="true" class="btn btn-primary" href="/eregister/student/new">Register Student</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Student Visualization</h5>
                            <p class="card-text">View all registered students.</p>
                            <a tabindex="-1" role="button" aria-disabled="true" class="btn btn-secondary" href="/eregister/student/list">View Students</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
